@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');

[hidden] {
    display: none !important;
}

* {
	font-family:  Teko, sans-serif;
}

html, body, main {
	width: 100%;
	height: 100%;
	background: #1F1F1F;
	padding: 0;
	margin: 0;
}

nav {
	padding: 0 0.25vh;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	height: auto;
	font-size: 5vh;
}

nav a {
	color: lightgray;
	text-decoration: none;
	margin: 0px 10px;
	text-align: center;
	align-content: center;
	align-items: center;
	align-self: center;
	vertical-align: middle;
}

nav a:hover {
  color: white;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
	background: rgba(255,255,255,0.1);
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background: rgba(255,255,255,0.5);
}
::-webkit-scrollbar-thumb:hover{
	background: rgba(255,255,255,0.7);
}
::-webkit-scrollbar-thumb:active{
	background: rgba(255,255,255,.9);
}
