body, html, main { 
	display: flex;
	flex-direction: column;
	width: 100vw;
	min-width: 100vw;
	max-width: 100vw;
	height: 100vh;
	min-height: 100vh; 
	max-height: 100vh;
	width: 100dvw;
	min-width: 100dvw;
	max-width: 100dvw;
	height: 100dvh;
	min-height: 100dvh; 
	max-height: 100dvh;
	overflow: hidden;
	color: white;
}

.news_scroller {
	padding-right: 5rem;
}

.news_card {
	display: flex;
	flex-direction: row;
	padding: 1rem;
	margin: 1rem;
	border-style: none;
    outline: none;
	border: 0.1rem solid transparent;
    background-image: linear-gradient(#1E1E1E, #1E1E1E),
    linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 1.8rem;
    background-size: 200% 100%;
    transition: background-position 0.8s ease-out;
    
    &:hover {
      background-position: 100% 0;
    }
}

.news_scroller > :nth-child(2n) {
	flex-direction: row-reverse;
}

.news_text {
	display: flex;
	flex-direction: column;
	background: hsla(0,0%,0%,0.84);
	padding: 1rem;
}

.news_card img {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 1rem;
	max-width: 20vw;
	min-width: 20vw;
	max-height: 20vw;
	min-height: 20vw;
}

.news_card h1 {
	margin 0;
	padding: 0;
	margin-block-end: 0;
	margin-block-start: 0.5rem;
}

.news_card h2 {
	margin 0;
	margin-block-end: 0;
	margin-block-start: 0.5rem;
}

.news_card h3 {
	margin 0;
	margin-block-end: 0;
	margin-block-start: 0.25rem;
	color: darkgray;
}

@media only screen and (max-width: 1000px) {	
	main h1 {
		font-size: 40px;
	}
}

@media only screen and (min-height: 1000px) {
}

@media screen and (orientation:portrait) {
	.news_card {
		flex-direction: column;
		margin: 0.5rem 0;
		padding: 0;
	}
	
	.news_scroller > :nth-child(2n) {
		flex-direction: column;
	}
	
	.news_card img {
		margin: 1rem 0 0.5rem 0;
		max-width: 80vw;
		min-width: 80vw;
		max-height: 80vw;
		min-height: 80vw;
		align-self: center;
	}
}