body, html, main { 
	display: flex;
	flex-direction: column;
	width: 100vw;
	min-width: 100vw;
	max-width: 100vw;
	height: 100vh;
	min-height: 100vh; 
	max-height: 100vh;
	width: 100dvw;
	min-width: 100dvw;
	max-width: 100dvw;
	height: 100dvh;
	min-height: 100dvh; 
	max-height: 100dvh;
	overflow: hidden;
	color: white;
}

.news_scroller {
	align-self: center;
	flex-direction: column;
	padding-right: 1rem;
	max-width: 60vw;
}

.news_card {
	flex-direction: column; 
	margin: 1rem;
	scroll-snap-align: start;
}

.news_text {
	display:flex; 
	flex-direction: column;
}

.news_card img {
	float: left; 
	margin: 1rem 1rem 1rem 0;
	max-width: 20vw;
}

.news_card span {
	background-color: rgba(109,109,109,0.50);
	padding: 0.5rem 1rem 0.5rem 1rem;
	border-radius: 1rem;
}

.news_card h1 {
	margin 0;
	padding: 0;
	margin-inline-start: 0;
	margin-block-end: 0.5rem;
	margin-block-start: 0.5rem;
	color: gold;
}

.news_card h2 {
	margin 0;
	margin-block-end: 0.2rem;
	margin-block-start: 0.5rem;
	color: whitesmoke;
}

.news_card h3 {
	margin 0;
	margin-block-end: 0;
	margin-block-start: 0.25rem;
	color: darkgray;
}

.news_card p {
	font-family: "Franklin Gothic", "Arial", "sans-serif";
	font-size: max(1.25rem, 1.25vw);
	line-height: normal;
}

@media only screen and (max-width: 1000px) {	
	main h1 {
		font-size: 40px;
	}
	
	.news_scroller {
		max-width: 100%;
		padding: 1rem;
	}
}

@media screen and (orientation:portrait) {
	.news_scroller {
		max-width: 100%;
		padding: 1rem;
	}
}